.footer{
    width: 100%;
    padding: 6rem 0;
    background-color: rgba(19, 19, 19, 0.8);
}
.footer-container{
    max-width: 1140px;
    display: grid;
    margin: auto;
    grid-gap: 3rem;
    grid-template-columns: repeat(2,1fr);
}