label{
    color: #fff;
}
.form{
    min-height: 30vh;
    width:90%;
    margin: 0 auto;
    padding: 1rem;

}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}